/* optional more in-depth reset */
/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: inherit;
  background-color: peru;
}

/* .click-me {
  padding: 0px;
} */

img {
  width: 10rem;
}
